@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Plan your Date</title>
    <link href="~/css/update.css" rel="Stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="~/css/logo.png" alt="Logo" class="logo" />
            <nav>
                <a class="active">Plan the Date</a>
            </nav>
        </div>
        <div class="navbar-right">
            <span class="user-name">Welcome @ViewBag.FirstName</span>
            <img src="@ViewBag.ProfileImage" alt="User Image" class="user-img" />
            <form asp-controller="Account" asp-action="Logout" method="post">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>
    <div class="content-wrapper">
        <header>
            <h1>Plan Your Date</h1>
        </header>
        <form asp-controller="DatePlanner" asp-action="SaveDatePlan" method="post">
            <div class="form-section">
                <h2>Date Information</h2>

                <label for="txtDate">Date:</label>
                <input type="date" id="txtDate" name="Date" class="form-control" />

                <label for="txtTime">Time:</label>
                <input type="time" id="txtTime" name="Time" class="form-control" />

                <label for="txtLocation">Location:</label>
                <input type="text" id="txtLocation" name="Location" class="form-control" />

                <label for="txtDateDescription">Description:</label>
                <textarea id="txtDateDescription" name="Description" class="form-control"></textarea>
            </div>
            <div class="button-container">
                <button type="submit" class="btn btn-primary">Save Date Plan</button>
            </div>
        </form>
        <span>@ViewBag.StatusMessage</span>
    </div>
    <footer>
        <p>2024 MatchUp by Abhijay & Johnson</p>
    </footer>
</body>
</html>