@model DatingSite_TermProject.Models.PrivateUserInfoModel
@{
    Layout = null; // Assuming you don't want to use a layout page
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to MatchUp</title>
    <link href="~/css/login.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="leftcontainer">
        <header class="header">
            <img src="~/css/Logo.png" alt="logo" class="logo" />
        </header>
        <div class="form-container">
            <form asp-controller="CreateAccount" asp-action="CreateAccount" method="post">
                <h1>Create a new Account</h1>
                <div class="login-link">
                    <label>Already A Member? </label>
                    <a asp-controller="Home" asp-action="Login">Log in</a>
                </div>
                <div class="input-group">
                    <div class="input__wrapper">
                        <input asp-for="FirstName" type="text" name="FirstName" class="form-control input__field" placeholder="" />
                        <label class="input__label">First Name</label>
                        <br/>
                        <span asp-validation-for="FirstName" class="text-danger error-message"></span>
                    </div>
                    <div class="input__wrapper">
                        <input asp-for="LastName" type="text" name="LastName" class="form-control input__field" placeholder="" />
                        <label class="input__label">Last Name</label>
                        <br />
                        <span asp-validation-for="LastName" class="text-danger error-message"></span>
                    </div>
                    <div class="input__wrapper">
                        <input asp-for="Email" type="email" name="Email" class="form-control input__field" placeholder="" />
                        <label class="input__label">Email</label>
                        <br />
                        <span asp-validation-for="Email" class="text-danger error-message"></span>
                    </div>
                    <div class="input__wrapper">
                        <input asp-for="PrivateUsername" type="text" name="PrivateUsername" class="form-control input__field" placeholder="" />
                        <label class="input__label">User Name</label>
                        <br />
                        <span asp-validation-for="PrivateUsername" class="text-danger error-message"></span>
                    </div>
                    <div class="input__wrapper">
                        <input asp-for="Password" type="password" name="Password" class="form-control input__field" placeholder="" />
                        <label class="input__label">Password</label>
                        <br />
                        <span asp-validation-for="Password" class="text-danger error-message"></span>
                    </div>
                    <div class="input__wrapper">
                        <input type="password" name="ConfirmPassword" class="form-control input__field" placeholder="" />
                        <label class="input__label">Confirm Password</label>
                    </div>

                </div>
                <button type="submit" class="btn btn-primary">Create account</button>
                <br />
                <label name="lblCAError">@ViewBag.ErrorMessage</label> <!--lblCAError-->
            </form>
        </div>
    </div>
    <div class="rightcontainer">
    </div>
</body>
</html>
