@{
    Layout = null; // Assuming you don't want to use a layout page
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to MatchUp</title>
    <link href="~/css/login.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="leftcontainer">
        <header class="header">
            <img src="~/css/Logo.png" alt="logo" class="logo" />
        </header>
        <div class="form-container">
            @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @id = "form1" }))
            {
                <h1>Login</h1>
                <div class="login-link">
                    <label>New Here? </label>
                    <button type="submit" class="login" formaction="@Url.Action("CreateAccount", "Account")">Join us</button>
                </div>
                <div class="input-group">
                    <input type="text" name="UserName" class="form-control" placeholder="User Name" />
                    <input type="password" name="Password" class="form-control" placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <label></label> <!--lblLError-->
            }
        </div>
    </div>
    <div class="rightcontainer">
    </div>
</body>
</html>
