@model DatingSite_TermProject.Models.LoginModel
@{
    Layout = null; // Assuming you don't want to use a layout page
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to MatchUp</title>
    <link href="~/css/login.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="leftcontainer">
        <header class="header">
            <img src="~/css/Logo.png" alt="logo" class="logo" />
        </header>
        <div class="form-container">
            <form asp-controller="Login" asp-action="Login" method="post">
                <h1>Login</h1>
                <div class="login-link">
                    <label>New Here? </label>
                    <button type="button" class="login" onclick="window.location.href='/Home/CreateAccount';">Join us</button>
                </div>
                <div class="input-group">
                    <div class="input__wrapper">
                        <input type="text" asp-for="Username" class="form-control input__field" placeholder="" value="@ViewBag.Username" />
                        <label class="input__label">UserName</label>

                    </div>
                    <div class="input__wrapper">
                        <input type="password" asp-for="Password" class="form-control input__field" placeholder="" value="@ViewBag.Pwd"/>
                        <label class="input__label">Password</label>
                    </div>
                    <div>
                        <label>Would you like to save your password?</label>
                        <input type="radio" id="SaveDetails-Yes" name="SaveDetails" value="Yes" checked />
                        <label for="SaveDetails-Yes">Yes</label>
                        <input type="radio" id="SaveDetails-No" name="SaveDetails" value="No" />
                        <label for="SaveDetails-No">No</label>
                    </div>
                    <div>
                        <a href="@Url.Action("ForgotPassword", "ForgotPassword")" class="login">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <label>@ViewBag.ErrorMessage</label> <!--lblLError-->
            </form>
        </div>
    </div>
    <div class="rightcontainer">
    </div>
</body>
</html>
