@model DatingSite_TermProject.Models.PrivateUserInfoModel

@{
    Layout = null; // Assuming you don't want to use a layout page
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to MatchUp</title>
    <link href="~/css/login.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="leftcontainer">
        <header class="header">
            <img src="~/css/Logo.png" alt="logo" class="logo" />
        </header>
        <div class="form-container">
            <form asp-controller="ResetPassword" asp-action="ResetPassword" method="post">
                <h1>Reset your Password</h1>
                <div class="input-group">
                    <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                    <input type="password" name="ConfirmPassword" class="form-control" placeholder="Confirm Password" />
                    <input type="hidden" name="token" value="@ViewBag.Token" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <label>@ViewBag.ErrorMessage</label> <!--lblLError-->
            </form>
        </div>
    </div>
    <div class="rightcontainer">
    </div>
</body>
</html>
