@{
    Layout = null; // Assuming you don't want to use a layout page
}

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Welcome to MatchUp</title>
    <link href="~/css/login.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <div class="leftcontainer">
        <header class="header">
            <img src="~/css/Logo.png" alt="logo" class="logo" />
        </header>
        <div class="form-container">
            <form asp-controller="Verification" asp-action="Verification" method="post">
                <h1>Enter your Verification Code</h1>
                <div class="input-group">
                    <input type="text" name="VerificationCode" class="form-control" placeholder="VerificationCode" />
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
                <label>@ViewBag.ErrorMessage</label>
            </form>
        </div>
    </div>
    <div class="rightcontainer">
    </div>
</body>
</html>
