body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: url("login_background.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: #2F5059;
}
.header {
    text-align: left;
    padding: 10px;
}
.header img{
    padding-left: 20px;
}
.logo {
    height: 140px;
    width: auto;
}
.login {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    font-size: 14px;
    color: #F72E50;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
.login-link{
    font-size: 14px;
    margin-bottom: 10px;
}
.leftcontainer {
    background: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
    width: 50%;
    border-radius: 5px;
}
.form-container {
    padding: 20px;
    padding-top: 0;
    border-radius: 8px;
    padding-left: 5%;
}
h1 {
    color: #F72E50;
    margin-bottom: 20px;
}
.input-group {
    margin-bottom: 10px;
}
.input-group .form-control {
    width: 37%;
}
/* Root Variables */
:root {
    --primary: #F72E50; /* Primary interaction color */
    --secondary: #2F5059; /* Text color */
    --box-background: #fff; /* Background color of input boxes */
}

/* Input Wrapper Style */
.input__wrapper {
    position: relative;
    padding: 10px 0 0 0;
    width: 100%; /* Ensures the input field fills its container */
}

/* Input Field Style */
.input__field {
    font-size: 1em;
    color: var(--secondary);
    padding: 10px;
    background: transparent;
    border: 2px solid #ccc; /* Existing border style */
    border-radius: 5px;
    width: 100%; /* Full width */
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* Placeholder shown condition for Label */
.input__field:placeholder-shown + .input__label {
    cursor: text;
    top: 40%; /* Centers label vertically when placeholder is shown */
    left: 10px;
    font-size: 1em;
}

/* Label Style */
.input__label {
    position: absolute;
    top: 0; /* Set initial position of the label */
    left: 10px;
    color: var(--secondary);
    background-color: var(--box-background);
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    padding: 0 5px;
    transform-origin: left center;
    pointer-events: none;
}

/* Input Field Focus Styles */
.input__field:focus {
    border-color: var(--primary);
    outline: none; /* Removes default focus outline */
}

.input__field:focus + .input__label {
    top: 15px; /* Pulls the label to the top when focused */
    font-size: 0.75em; /* Reduces label size when focused */
    color: var(--primary); /* Changes label color to primary */
}
.form-control {
    margin: 10px auto;
    padding: 10px;
    font-size: 1em;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.form-container .form-control{
    width: 79%;
    margin-bottom: 20px;
}
.btn-primary {
    font-size: 16px;
    display: block;
    padding: 10px;
    background-color: #F72E50;
    border: 1px solid;
    border-color: #2F5059;
    border-radius: 15px;
    cursor: pointer;
    z-index: 0;
    transition: all .5s ease;
    color: #fff;
}
.btn-primary:hover {
    color: #F72E50;
    background-color: #2F5059;
}
.input-group label {
    font-size: 0.9em;
    color: #2F5059; /* Matching text color */
}

.input-group input[type="checkbox"] {
    margin-right: 10px;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .form-container,
    .image-container {
        flex-basis: 100%;
    }
}