@{
    Layout = null; // No layout page
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Dates - MatchUp</title>
    <link href="~/css/update.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar">
        <div class="navbar-left">
            <img src="~/css/logo.png" alt="Logo" class="logo" />
            <nav>
                <a class="active">Dashboard</a>
                <a>Matches</a>
                <a>Likes</a>
                <a>Dates</a>
                <a>Plan Date</a>
                <a>Edit Profile</a>
            </nav>
        </div>
        <div class="navbar-right">
            <span class="user-name">Welcome First Name</span> <!-- Example of displaying user name -->
            <img src="~/css/Logo.png" alt="User Image" class="user-img" />
            <form>
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </div>
    <div class="content-wrapper">
        <header>
            <h1>Dates</h1>
        </header>
        <div class="dashboard-layout">
            <div class="cards-container">
                <h2 class="likes-title">People you've sent a Date-request to</h2>
                <div class="container">
                    <div class="card">
                        <img src="~/css/logo.png" alt="Profile Image">
                        <div class="card-body">
                            <h5 class="card-title">FirstName</h5>
                            <p class="card-text">Description</p>
                            <p class="card-text">City, State</p>
                        </div>
                    </div>
                </div>
                <h2 class="likes-title">People that sent you a Date-request</h2>
                <div class="container">
                    <div class="card">
                        <img src="~/css/logo.png" alt="Profile Image">
                        <div class="card-body">
                            <h5 class="card-title">FirstName</h5>
                            <p class="card-text">Description</p>
                            <p class="card-text">City, State</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>2024 MatchUp by Abhijay & Johnson</p>
    </footer>
</body>
</html>
